USE [master]
GO
/****** Object:  Database [ProyectoFinalPoo]    Script Date: 3/8/2026 20:21:50 ******/
CREATE DATABASE [ProyectoFinalPoo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFinalPoo', FILENAME = N'C:\Users\jadon\ProyectoFinalPoo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFinalPoo_log', FILENAME = N'C:\Users\jadon\ProyectoFinalPoo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFinalPoo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFinalPoo]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Presupuesto] [numeric](18, 6) NULL,
	[Activo] [bit] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Cargos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Presupuesto] [numeric](18, 6) NULL,
	[Activo] [bit] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProyectosDepartamento]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProyectosDepartamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProyectoDepartamento] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_DetalleProyectosDepartamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[PrimerNombre] [nvarchar](150) NOT NULL,
	[SegundoNombre] [nvarchar](150) NOT NULL,
	[PrimerApellido] [nvarchar](150) NOT NULL,
	[SegundoApellido] [nvarchar](150) NOT NULL,
	[NombreCompleto] [nvarchar](600) NOT NULL,
	[SalarioActual] [numeric](18, 6) NULL,
	[Activo] [bit] NOT NULL,
	[IdUbicacion] [int] NULL,
	[IdDepartamento] [int] NULL,
	[IdCargo] [int] NULL,
	[IdJefeInmediato] [int] NULL,
	[IdEmpresa] [int] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosProyecto]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosProyecto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_EstadosProyecto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[IdEmpresa] [int] NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Presupuesto] [numeric](18, 6) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdEstadoProyecto] [int] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Proyectos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProyectosDepartamento]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProyectosDepartamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Presupuesto] [numeric](18, 6) NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_ProyectosDepartamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioCrea] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Ubicaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/8/2026 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](150) NOT NULL,
	[LoginUsuario] [nvarchar](150) NOT NULL,
	[IdEmpleado] [int] NULL,
	[Activo] [bit] NOT NULL,
	[Clave] [varbinary](max) NOT NULL,
	[Administrador] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargos] ADD  CONSTRAINT [DF_Cargos_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Cargos] ADD  CONSTRAINT [DF_Cargos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cargos] ADD  CONSTRAINT [DF_Cargos_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Cargos] ADD  CONSTRAINT [DF_Cargos_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [DF_Departamentos_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [DF_Departamentos_Presupuesto]  DEFAULT ((0)) FOR [Presupuesto]
GO
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [DF_Departamentos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [DF_Departamentos_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [DF_Departamentos_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento] ADD  CONSTRAINT [DF_DetalleProyectosDepartamento_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento] ADD  CONSTRAINT [DF_DetalleProyectosDepartamento_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento] ADD  CONSTRAINT [DF_DetalleProyectosDepartamento_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_Descripcion]  DEFAULT ('') FOR [PrimerNombre]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_PrimerNombre1]  DEFAULT ('') FOR [SegundoNombre]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_PrimerNombre2]  DEFAULT ('') FOR [PrimerApellido]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_PrimerNombre3]  DEFAULT ('') FOR [SegundoApellido]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_PrimerNombre1_1]  DEFAULT ('') FOR [NombreCompleto]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Empresas_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[EstadosProyecto] ADD  CONSTRAINT [DF_EstadosProyecto_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[EstadosProyecto] ADD  CONSTRAINT [DF_EstadosProyecto_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EstadosProyecto] ADD  CONSTRAINT [DF_EstadosProyecto_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[EstadosProyecto] ADD  CONSTRAINT [DF_EstadosProyecto_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proyectos] ADD  CONSTRAINT [DF_Proyectos_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Proyectos] ADD  CONSTRAINT [DF_Proyectos_Presupuesto]  DEFAULT ((0)) FOR [Presupuesto]
GO
ALTER TABLE [dbo].[Proyectos] ADD  CONSTRAINT [DF_Proyectos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proyectos] ADD  CONSTRAINT [DF_Proyectos_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Proyectos] ADD  CONSTRAINT [DF_Proyectos_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ProyectosDepartamento] ADD  CONSTRAINT [DF_ProyectosDepartamento_Presupuesto]  DEFAULT ((0)) FOR [Presupuesto]
GO
ALTER TABLE [dbo].[ProyectosDepartamento] ADD  CONSTRAINT [DF_ProyectosDepartamento_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[ProyectosDepartamento] ADD  CONSTRAINT [DF_ProyectosDepartamento_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  CONSTRAINT [DF_Ubicaciones_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  CONSTRAINT [DF_Ubicaciones_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  CONSTRAINT [DF_Ubicaciones_UsuarioCrea]  DEFAULT ((0)) FOR [UsuarioCrea]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  CONSTRAINT [DF_Ubicaciones_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_NombreUsuario]  DEFAULT ('') FOR [NombreUsuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_LoginUsuario]  DEFAULT ('') FOR [LoginUsuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Administrador]  DEFAULT ((0)) FOR [Administrador]
GO
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD  CONSTRAINT [FK_Cargos_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Cargos] CHECK CONSTRAINT [FK_Cargos_Empresas]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Empresas]
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProyectosDepartamento_Empleados] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento] CHECK CONSTRAINT [FK_DetalleProyectosDepartamento_Empleados]
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProyectosDepartamento_ProyectosDepartamento] FOREIGN KEY([IdProyectoDepartamento])
REFERENCES [dbo].[ProyectosDepartamento] ([Id])
GO
ALTER TABLE [dbo].[DetalleProyectosDepartamento] CHECK CONSTRAINT [FK_DetalleProyectosDepartamento_ProyectosDepartamento]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Cargos] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargos] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Cargos]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Departamentos] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Departamentos]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Empresas]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Ubicaciones] FOREIGN KEY([IdUbicacion])
REFERENCES [dbo].[Ubicaciones] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Ubicaciones]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Empresas]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_EstadosProyecto] FOREIGN KEY([IdEstadoProyecto])
REFERENCES [dbo].[EstadosProyecto] ([Id])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_EstadosProyecto]
GO
ALTER TABLE [dbo].[ProyectosDepartamento]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosDepartamento_Departamentos] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[ProyectosDepartamento] CHECK CONSTRAINT [FK_ProyectosDepartamento_Departamentos]
GO
ALTER TABLE [dbo].[ProyectosDepartamento]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosDepartamento_Proyectos] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyectos] ([Id])
GO
ALTER TABLE [dbo].[ProyectosDepartamento] CHECK CONSTRAINT [FK_ProyectosDepartamento_Proyectos]
GO
USE [master]
GO
